# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text diff=csharp
*.sln text
*.js text
*.sh text eol=lf
*.template text
*.md text
*.go text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary