# WhiteSource FS-Agent configuration file
# See config doc for more information:
# https://whitesource.atlassian.net/wiki/spaces/WD/pages/804814917/Unified+Agent+Configuration+File+and+Parameters

# Whether to send the check policies request before updating WhiteSource.
# True: In case of policy violation, the scan will end with ERROR exit code POLICY_VIOLATION (-2).
# False: The scan will end with SUCCESS. Inventory will be updated regardless of policy violations.
checkPolicies=true

# Force checks all dependencies.
# NOTE: Used only if 'checkPolicies' is set to True. If set to False, this flag is not relevant.
# True: Checks all policies for all dependencies introduced to the WhiteSource projects.
# False: Checks only the new dependencies introduced to the WhiteSource projects.
forceCheckAllDependencies=true

# Whether to update organization inventory regardless of policy violations.
# NOTE: Used only if 'checkPolicies' is set to True. If set to False, this flag is not relevant.
# True: Updates the project even if the "checkPolicies" step failed.
#       - App: Update
#       - Exit code: End with SUCCESS
#       - Output: No Error message
# False: In case of a policy violation:
#        - App: No update
#        - Exit code: (-2)
#        - Output: end with Error
forceUpdate=true

# Determines whether the Unified Agent exit code will be the result of the policy check or the result of the scan.
# NOTE: Used only if 'forceUpdate' is set to True.
# True: The Unified Agent exit code will be the result of the policy check, meaning if there is a failure in checkpolicies the exit code is -2.
# False: The Unified Agent exit code will be the result of the scan. (success or failure)
forceUpdate.failBuildOnPolicyViolation=true

# Whether to create an offline update request instead of sending one to WhiteSource.
# True: An offline request file is created in the whitesource folder next to the scanned project.
# False: Results are sent directly to the server.
offline=false

# Enable the relevant URL according to your organization's WS Server URL from your Profile page on the Server URLs panel,
# (additionally, it can be found in the Integrate tab).
# Then, add the agent path.
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent

log.level=debug
#log.files.level=debug
#log.files.maxFileSize=
#log.files.maxFilesCount=
#log.files.path=

############################
# GO PROJECT CONFIGURATION #
############################
go.collectDependenciesAtRuntime=true
go.resolveDependencies=false
go.modules.resolveDependencies=true
go.modules.removeDuplicateDependencies=true
go.modules.includeTestDependencies=false

############################
# JS PROJECT CONFIGURATION #
############################

# Whether to resolve npm dependencies.
# NOTE: 'package.json' dependency files defined within directories defined by the npm.ignoreDirectoryPatterns are not scanned,
#       and therefore dependencies declared in these files are ignored.
#       For example, the default set of directories to ignore will not include the following dependency files:
#       - /examples/*package.json
#       - /example/*package.json
#       - /.ws_bower/*package.json
#       - /test/*package.json
# True: Resolve npm dependencies.
# False: Not to resolve npm dependencies.
npm.resolveDependencies=true

# When using the npm resolver, helps including the js files outside the node_modules folder.
# True: Ignore the js files outside the node_modules folder.
# False: Include the js files outside the node_modules folder.
npm.ignoreSourceFiles=false

# Whether to include dev dependencies.
# True: Adds devDependencies to the scan
# False: Only the prod dependencies will be scanned.
npm.includeDevDependencies=false

# Runs "npm install" on found package.json file.
# True: Runs "npm install" on found package.json file.
# False: "npm install" will not run on found package.json file.
npm.runPreStep=true

# Whether to ignore errors of the 'npm list' command.
# True: The scan will end with SUCCESS status + Hierarchy tree.
# False: The scan will end with SUCCESS status + flat list
npm.ignoreNpmLsErrors=true

# Whether or not to resolve Bower project folders.
# True: Resolve Bower project folders
# False: Does not resolve Bower project folders
bower.resolveDependencies=false

############################
# CS PROJECT CONFIGURATION #
############################

# Whether to resolve NuGet 'package.config' and '.csproj' files.
# True: Resolve NuGet 'package.config' and '.csproj' files.
# False: Does not resolve NuGet 'package.config' and '.csproj' files.
nuget.resolveDependencies=true

# Whether to resolve packages.config file at the project's root.
# NOTE: In order for this parameter's value to impact the scan, the parameter 'nuget.resolveDependencies' must be set to 'True'.
# True: Resolve packages.config file
# False: Does not resolve packages.config file
nuget.resolvePackagesConfigFiles=false

# Whether to resolve *.csproj file at the project's root.
# NOTE: In order for this parameter's value to impact the scan, the parameter 'nuget.resolveDependencies' must be set to 'True'.
# True: Resolve *.csproj file at the project's root.
# False: Does not resolve *.csproj file at the project's root.
nuget.resolveCsProjFiles=true

# Whether to run 'dotnet restore' on found '.csproj' files in order to download the project's dependencies.
# True: Runs 'dotnet restore' on found '.csproj' files
# False: Does not run 'dotnet restore' on found '.csproj' files
nuget.restoreDependencies=true

# Defines the preferred NuGet 'restore' command. Available values are 'nuget' and 'dotnet'.
# NOTE:  This parameter will be used only if the 'nuget.restoreDepencies' parameter is set to 'True'
nuget.preferredEnvironment=dotnet

# Provides a path to the directory where WhiteSource temporary files will be created (and removed at the end of a scan).
# NOTE: Provide a short directory, in order to avoid errors related to the path size during the 'restore' command.
nuget.packagesDirectory=wsstemp

# When using the dependency resolver, whether to include package dependencies or package dependencies + source files.
# True: Include only package dependencies
# False: Include package dependencies and source files
nuget.ignoreSourceFiles=true

# Whether to run 'nuget restore' on found 'packages.config' files in order to download the project's dependencies.
# True: Runs 'nuget restore' on found 'packages.config' files in order to download all dependencies to a temporary folder,
#       scans this folder and deletes it after fetching the dependencies.
# False: Does not run 'nuget restore' on found 'packages.config' files.
nuget.runPreStep=false

# Indicates whether to resolve *.nuspec file at the project's root.
# NOTE: In order for this parameter's value to impact the scan, the parameter 'nuget.resolveDependencies' must be set to 'True'.
# Resolve *.nuspec file at the project's root.
# Does not resolve *.nuspec file at the project's root.	True
nuget.resolveNuspecFiles=false

# Resolve obj/project.assets.json file for new .NET dependency management structure.
nuget.resolveAssetsFile=true

###############################
# Organization/Project tokens #
###############################

apiKey=
projectName=TrimbleDrive
projectVersion=
projectToken=
productName=Connected Data Environment
productVersion=
productToken=

#####################
# Includes/Excludes #
#####################

# Include glob patterns
# We want to scan only the production deployed code/packages.
includes=**/*.csproj **/*.dll **/*.cs **/*.nupkg **/*.js **/*.go **/*.mod **/*.sum

# Exclude glob patterns
# We exclude all non production deployed code, and the unified agent jar.
excludes=**/deploy/** **/libs/** **/test/** **/*wss-unified-agent.jar **/*_test.go

# Whether the file system should be case sensitive.
# True: The file system will be case sensitive.
# False: The file system will not be case sensitive.
case.sensitive.glob=false

# No documentation for this... but it is shown in the includes/excludes example.
followSymbolicLinks=true
